.container {
  position: relative;
  margin: 0 4rem;
  height: 380px;

  .row {
    display: flex;
    flex-wrap: nowrap;



    .row-inner {
      display: flex;
      flex-direction: row;
      padding: 2rem;


    }

    .row-inner.slide {
      transform: translateX(-300px);
      transition: transform 0.5s ease-in;
    }
  }

  .prev-movies {
    margin-left: 1rem;
    position: absolute;
    left: -10vw;
    display: none;
  }

  .next-movies {;
    position: absolute;
    left: 94.5vw;
    z-index: 9999;
    background-color: #141414;
    opacity: 0;
    height: 178px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
  }

  .prev-movies i, .next-movies i {
    font-size: 4rem;
  }

  &:hover {
    .next-movies {
      opacity: 0.7;
      transform: scale(1.2);
    }
  }
}
