.container {
  position: relative;
  margin: 0 4rem;
  height: 380px;

  .row {
    display: flex;
    flex-wrap: nowrap;



    .row-inner {
      display: flex;
      flex-direction: row;
      padding: 2rem;
      transition: all 0.3s ease-in-out;
      position: absolute;


    }

    .row-inner.slide {
      transform: translateX(-300px);
      transition: transform 0.5s ease-in;
    }
  }

  .row.center {
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .prev-movies {
    position: absolute;
    left: -50px;
    z-index: 9999;
    background-color: #141414;
    opacity: 0;
    height: 178px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
  }

  .next-movies {;
    position: absolute;
    left: 94.5vw;
    z-index: 9999;
    background-color: #141414;
    opacity: 0;
    height: 178px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
  }

  .prev-movies i, .next-movies i {
    font-size: 4rem;
  }
  .next-movies,
  .prev-movies {
    transform: scale(1.2);
  }

  &:hover {


    .prev-movies {
      opacity: 0;
      cursor: initial;
    }
    .prev-movies.hidden {
      opacity: 0!important;
    }

    .next-movies {
      opacity: 0.7;
    }
  }
}
