@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');


.tile {
  position: relative;
  width: 300px;
  margin: 0.5rem;
  z-index: 10;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px!important;

  .tile-media {
    background-color: red;

  }

  .tile-title {
    position: absolute;
    bottom: 70px;
    margin: 1rem;

    span {
      font-family: 'Press Start 2P', cursive;

      &:first-child {
        color: #D81F26
      }
    }
  }

  .tile-logo {
    margin: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 30px;
    }

  }

  .tile-features {
    opacity: 0;
    background-color: transparent;
  }

  &:hover {
    transform: scale(1.05);

    .tile-title {
      display: none
    }

    .tile-features {
      opacity: 1;
      background: #2f3640;
      padding: 1rem;

      .features-block {
        display: flex;
        justify-content: space-between;

        div {
          margin: 2rem 0;

          button {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: none;
            margin: 0 1rem;
            position: relative;
            cursor: pointer;

            .fas {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

          }
        }

        .features-action {

          button {
            &:first-child {
              background-color: white;

              i {
                color: black
              }
            }

            &:nth-child(2),
            &:nth-child(3) {
              background-color: #2f3640;
              border: 1px solid white;

              &:disabled {
                opacity: 0;
              }

              &:hover {
                background-color: white;
                i {
                  color: black;
                }
              }

              i {
                color: white;
              }
            }
          }
        }
      }

    }

    .features-title {
      font-family: 'Roboto', sans-serif;
    }
  }
}

