.modal-container {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background-color: rgba(24, 24, 24, 0.5);
  backdrop-filter: blur(4px);
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal {
    position: absolute;
    right: 50%;
    left: 50%;
    top: 20%;
    bottom: 50%;
    width: 780px;
    transform: translate(-50%, -50%);
    background-color: #181818;
    padding-bottom: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    .modal-media {
      background: linear-gradient(0deg, #181818, transparent 50%);
      position: relative;

      .modal-title {
        position: absolute;
        bottom: 35%;
        margin: 1rem;

        span {
          font-family: 'Press Start 2P', cursive;

          &:first-child {
            color: #D81F26
          }
        }
      }

      .modal-features {
        button {
          position: absolute;
          font-size: 2rem;
          cursor: pointer;
          margin: 1rem;
          padding: 0.5rem 1rem;

          &:first-child {
            bottom: 15%;

            i {
              margin-left: 1rem;
            }
          }

          &:nth-child(2) {
            border-radius: 50%;
            background-color: #2f3640;
            border: 1px solid white;
            bottom: 15%;
            left: 130px;

            i {
              color: white;
            }
          }

          &:nth-child(3) {
            border-radius: 50%;
            background-color: #2f3640;
            border: 1px solid white;
            bottom: 15%;
            left: 178px;

            i {
              color: white;
            }
          }

          &:last-child {
            border-radius: 50%;
            background-color: #2f3640;
            border: 1px solid white;
            top: 0;
            right: 0;

            i {
              color: white;
            }
          }
        }
      }
    }

    .modal-rate {
      display: flex;
      padding: 2rem 1rem;
      background-color: #181818;


      p {
        margin: 0 1rem;
        font-size: 1.8rem;

        span {
          color: #D81F26;
        }
      }
    }

    .modal-detail {
      display: flex;
      justify-content: space-around;
      line-height: 1.5;
      background-color: #181818;
      .modal-content {
        flex: 2;
        padding: 2rem;


        .modal-overview {

          p {
            margin: 0 1rem;

          }
        }
      }

      .modal-info {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding: 2rem;

        .modal-real {
          margin: 0 1rem;

          p {
            color: gray;
            font-size: 2rem;
          }
        }
      }

    }

  }
}